

#tabWrapper a{
	text-decoration: none;
}
#tabWrapper #tabs {
	display:inline-block;	
	overflow: hidden;
	/* width: 100%; */
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: bottom;
}
#tabWrapper .header{
	font-size: 17px;
    color: #222;
    margin-right: 1em;
}
#tabWrapper #tabs li .activeTab{ 
	color: #138A64;
    font-weight: bolder;
}
#tabWrapper #tabs li {
	float: left;
}
#tabWrapper #tabs a {
	color: #999;
	font-size:13px;
}


#tabWrapper #tabs a::after {
    content: ' |';
    color: #222;
    padding: 0 3px;
}
#tabWrapper #content {
	background: #fff;
	padding: 2em;
	min-height: 220px;
	position: relative;
	z-index: 2;
	border-radius: 0 5px 5px 5px;
	margin-top:6px;
	border-top: 2px solid #138A64;
	background-color:#F5F7F8;
}

#tabWrapper #content .conBox{
	display:none;
}
#tabWrapper #content .conBox.current{
	display:block;
}